.App {
  text-align: center;
}
:root{
    --btn-width-100: 100px;
}
.black{
  color: black;
}
.my-nav{
    margin: 0;
    padding: 0;
}
.my-nav ul {
    margin: 0;
    padding: 15px 15px;
    list-style: none;
    display: flex;
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}
.my-nav ul li {
    padding: 3px;
}
.my-nav ul li a{
    display: inline-block;
    text-decoration: none;
}
.my-nav ul li a img{
  padding-top: 30px;
}
.my-nav ul li #search_btn{
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.068);
    padding: 8px;
    color: #888;
    width: 50px;
    height: 50px;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
    
}
.my-nav ul li#space1{
    flex: 1;
}
.my-nav ul li#space2{
    flex: 1;
}
.my-nav ul li a{
    height: 40px;
    width: var(--btn-width-100);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(158, 158, 158);
    transition: .5s;

}
.my-nav ul li #btn_plus,
.my-nav ul li #btn_msg,
.my-nav ul li #btn_bell,
.my-nav ul li #btn_profile{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #444;
    background: rgba(0, 0, 0, 0.068);
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}


.my-nav ul li:hover #home, 
.my-nav ul li:hover #group, 
.my-nav ul li:hover #tv, 
.my-nav ul li:hover #friend{
    background: rgba(0, 0, 0, 0.138);
    color: #444;
    border-radius: 5px;

}
.active{
    color: #0B84ED!important; 
}




@media  screen and (max-width: 700px){
   .my-nav ul li#space1,
   .my-nav ul li#space2{
        display: none;
    }
   .my-nav ul{
        min-width: 600px;
        padding: 8px 12px;
      justify-content: space-between;
    }
    :root{
        --btn-width-100: 60px;
    }
}
.logo{
  width: 160px;
  margin-right: 45px;

}
.online::after{
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;

}
.container3{
  display: flex;
  max-width:80%;
  justify-content: space-between;
  /* padding: 13px ; */
  /* width: 100%; */
  margin-top: 50px;
  margin-left: 60px;

}
.left-sidebar{
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;

}
.right-sidebar{
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  color: #626262;

}
.main-content{
  flex-basis: 47%;

}
.imp-links a, .shortcut-link a{
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;

}
.imp-links a img{
  width: 25px;
  margin-right: 15px;


}
.imp-links a:last-child{
  color:#1876f2;

}
.imp-links{
  border-bottom: 1px solid #ccc;
}
.shortcut-link a img{
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}
.shortcut-link p{
  margin: 25px 0;
  color: #626262;
  font-weight: 500;


}
.sidebar-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;

}
.sidebar-title h4{
  font-weight: 600;
  font-size: 16px;

}
.sidebar-title a{
  text-decoration: none;
  color: #1876f2;
  font-size: 12px;

}
.event{
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;

}
.left-event{
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align:center;
  position: relative;
  overflow:hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.event p{
  font-size: 12px;

}
.event a{
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;

}
.left-event span{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1876f2;
  color: #fff;
  font-size: 10px;
  padding: 4px 0;

}
.siderbar-ads{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;

}
.online-list{
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}
.online-list .online img{
  width: 40px;
  border-radius: 50%;

}
.online-list .online{
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;

}
.online-list .online::after{
  top: unset;
  bottom: 5px;

}
.story-gallery{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}
.story{
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;

}
.story img{
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top:10px;
  left: 10px;
  border: 5px solid #1876f2;

}
.story p{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;

}
.story1{
  
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://i.postimg.cc/W4KfGPVh/status-1.png);
}
.story2{
  
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://i.postimg.cc/x8GxVJzz/status-2.png);
}
.story3{
  
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://i.postimg.cc/cCG9zMrW/status-3.png);
}
.story4{
  
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://i.postimg.cc/3J7fCBsC/status-4.png);
}
.story5{
  
  background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(https://i.postimg.cc/9Fp8x9V3/status-5.png);
}
.story.story1 img{
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
}
.write-post-container{
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;

}
.user-profile{
  display: flex;
  align-items: center;

}
.user-profile img{
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p{
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;

}
.user-profile small{
  font-size: 12px;
  
}
.post-input-container{
  padding-left: 55px;
  padding-top: 20px;

}
.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;

}
.add-post-links{
  display: flex;
  margin-top: 10px;

}
.add-post-links a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;

}
.add-post-links a img{
  width: 20px;
  margin-right: 10px;

}
.post-container{
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;

}
.user-profile span{
  font-size: 13px;
  color: #9a9a9a;

}
.post-text{
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;

}
.post-text span{
  color: #626262;
  font-weight: 500;
}
.post-text a{
  color: #1876f2;
  text-decoration: none;

}
.post-img{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;

}
.post-row{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.activity-icons div img{
  width: 18px;
  margin-right: 10px;

}
.activity-icons div{
  display: inline-flex;
  align-items: center;
  margin-right: 30px;

}
.post-porfile-icon{
  display: flex;
  align-items: center;


}
.post-porfile-icon img{
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;

}
.post-row a{
  color: #9a9a9a;

}
.footer{
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0 20px;
  font-size: 13px;

}
.settings-menu{
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0,0,0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;

}
.settings-menu-height{
  max-height: 450px;

}
.user-profile a{
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;

}
.settings-menu-inner{
  padding: 20px;
}
.settings-menu hr{
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0;

}
.settings-links{
  display: flex;
  align-items: center;
  margin: 15px 0;

}
.settings-links .settings-icon{
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;

}
.settings-links a{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #626262;
}
#dark-btn{
  position: absolute;
  top: 30px;
  right: 30px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 10px 6px;
  cursor:pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;

}
#dark.btn span{
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 60%;
  display: inline-flex;

}
#dark-btn.dark-btn-on{
  padding-left: 23px;
  background: #0a0a0a;

}
/*---------------Profile page-----------------*/
.pofile-container{
  padding: 20px 15%;
  color: #626262;

}
.cover-img{
  width: 100%;
  border-radius: 6px;
  margin-bottom: 14px;

}
.profile-details{
  background: var(--bg-color);
  padding: 20px;


  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}
.pd-row{
  display: flex;
  align-items: flex-start;

}
.pd-image{
  width: 100px;
  margin-right: 20px;
  border-radius: 6px;

}
.pd-row div h3{
  font-size: 25px;
  font-weight: 600;

}
.pd-row div p{
  font-size: 13px;

}
.pd-row div img{
  width: 25px;
  border-radius: 50%;
  margin-top: 12px;

}
.pd-right button{
  background: #1876f2;
  border: 0;
  outline: 0;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;

}
.pd-right button img{
  height: 15px;
  margin-right: 10px;

}
.pd-right button:first-child{
  background: #e4e6eb;
  color: #000;

}
.pd-right{
  text-align: right;

}
.pd-right a{
  background: #e4e6eb;
  border-radius: 3px;
  padding: 12px;
  display: inline-flex;
  margin-top: 30px;

}
.pd-right a  img{
  width: 20px;

}
.profile-info{
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  margin-top: 20px;

}
.info-col{
  flex-basis: 33%;

}
.post-col{
  flex-basis: 65%;

}
.profile-intro{
  background: var(--bg-color);
  padding: 20px;
  margin-right: 20px;
  border-radius: 4px;

}
.profile-info h3{
  font-weight: 600;
}
.intro-text{
  text-align: center;
  margin: 10px 0;
  font-size: 15px;

}
.intro-text img{
  width: 15px;
  margin-bottom: -3px;

}
.profile-intro hr{
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 24px 0;

}
.profile-info ul li{
  list-style: none;
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;

}
.profile-info ul li img{
  width: 26px;
  margin-right: 10px;

}
.title-box{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.title-box a{
  text-decoration: none;
  color: #1876f2;
  font-size: 14px;

}
.photo-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;

}
.photo-box div img{
  width: 100%;
  cursor: pointer;

}
.profile-intro p{
  font-size: 14px;

}
.friends-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;

}
.friends-box div img{
  width: 100%;
  cursor: pointer;
  padding-bottom: 20px;
  
}
.friends-box div{
  position: relative;
}
.friends-box p{
  position: absolute;
  bottom: 0;
  left: 0;

}
/*----------------- Media Query For Home Page -----------------*/

@media (max-width: 900px){
  .right-sidebar{
      display: none;
  }
  .left-sidebar{
      display: none;

  }
 .my-nav{
      flex-wrap: wrap;
  }
  .search-box{
      display: none;
  }
  .logo{
      width: 110px;
      margin-right: 20px;
  }
 .my-nav-left ul li img{
      width: 20px;
      margin: 0 8px;

  }
 .my-nav-user-icon img{
      width: 30px;

  }
 .my-nav-user-icon{
      margin-left: 0;

  }
  .add-post-links{
      flex-wrap: wrap;

  }
  .main-content{
      flex-basis: 100%;

  }
  .story p{
      font-size: 10px;

  }
  .story.story1 img{
      width:  25px;
      bottom: 30px;

  }
  .add-post-links a{
      margin-right: 12px;
      font-size: 9px;

  }
  .add-post-links a img{
      width: 16px;
      margin-right: 5px;
  }
  .post-input-container{
      padding-left: 0;

  }

}
/*----------------------- Media Query For Profile Page------------------------*/
@media (max-width: 900px){
  .pofile-container{
      padding: 20px 5%;

  }
  .profile-details{
      flex-wrap: wrap;

  }
  .pd-right{
      text-align: left;
      margin-top: 15px;

  }
  .pd-right button{
      margin-left: 0;
      margin-right: 10px;

  }
  .pd-row div h3{
      font-size: 16px;

  }
  .profile-info{
      flex-wrap: wrap;

  }
  .info-col, .post-col{
      flex-basis: 100%;

  }

}

.askbtn {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 20px;
  border-color: #46b8da;
}

#askbtn {
  position: fixed;
  bottom: -4px;
  right: 40px;
}
.askbtn:hover{
  background-color: rgb(67, 67, 150);
}
.askform{
  background-image: url('../pictures/AskTop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px;
  width: 100%;
}
.askform h1{
  color: white;
  font-size: 50px;
}
.form{
  margin-top: 100px;
 
}
.form .leftform{
  padding-left: 100px;
}
.form .leftform h2{
  font-size: 25px;
  color: grey;
  text-transform: uppercase;
}
.form .leftform h1{
  font-size: 45px;
  font-weight: 700;
  /* margin-top: 50px; */
  color: rgb(214, 188, 95);
  text-transform: uppercase;
}
.form .leftform h1 span{
  color: rgb(0, 59, 106);
}
.form .leftform p{
  margin-top: 50px;
  font-size: 20px;
}
.form .leftform h3{
  color: rgb(214, 188, 95);
}
.form .righform{
  margin-left: 150px;
}
.form .righform input{
    padding: 20px;
    padding-right: 150px;
    margin-left: 20px;
    margin-top: 20px;
}

.form .righform select{
  padding: 20px;
  padding-right: 485px;
  margin-left: 20px;
  margin-top: 20px;
}
.form .righform textarea{
  padding: 10px;
  padding-right: 470px;
  margin-left: 20px;
  margin-top: 20px;
}
.form .righform h2{
  font-size: 30px;
  color: rgb(214, 188, 95);
  margin-top: 30px;
  font-weight: 700;
}
.form .righform input::placeholder{
  font-size: 20px;
}
.submitbtn{
  margin-top: 30px;
  font-size: 30px;
  background-color: rgb(214, 188, 95);
  color: rgb(0, 59, 106);
  margin-bottom: 100px;
}
.submitbtn:hover{
  background-color: rgb(0, 59, 106);
  color: rgb(214, 188, 95);
}
@media  screen and (max-width: 1889px){
  .form .righform select{
    padding: 20px;
    padding-right: 110px;
    margin-left: 20px;
    margin-top: 20px;
  }
 
.form .righform textarea{
  padding: 20px;
  padding-right: 110px;
  margin-left: 20px;
  margin-top: 20px;
}   
}